# Local configuration
.octaverc

# Compiled Object files
*.slo
*.lo
*.o
*.mex
*.mexa64
*.oct
lso_cluster

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/*.obj

/*.exe
